#Path_2_ce {
    opacity: 0.37;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

#Rectangle_3 {
    opacity: 0.78;
    fill: rgba(0, 100, 90, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}


/* Create two equal columns that floats next to each other */

.colu {
    float: left;
    width: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row {
    display: unset;
}

.row1 {
    display: flex;
    padding-left: 10px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.a {
    opacity: 0.78;
    background-color: #00645a;
    height: 100%;
    color: white;
}

.a1 {
    font-size: 13;
    height: 40%;
}

.img img {
    display: block;
    margin: auto;
}

.a2 {
    font-size: 15;
    height: 60%;
}

.content {
    padding: 20px;
}

.list_item {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 10px;
}

.list_item:hover {
    opacity: 0.37;
    background-color: rgba(255, 255, 255, 1);
}

.aa {
    padding: 0;
}

.t {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

#flightNumber{
    background-color: #00645A;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
}

.cathay-background{
    background-color: #00645A;
    opacity: 0.8;
    color: white;
    border-radius: 4px;
}

.block{
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
}

.content-block{
    height: 100px;
}

.file-name{
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 10px;
    color: lightgray;
    width: 200px;
}

.upload-btn-grp{
    display: flex;
}

.upload-btn{
    height: 50px;
}

.submit-content{
    width:65%
}

.accept-file{
    font-size: small;
}